p {
	border-color:black;
	line-height: 0em;
}

h1 {
	text-align: right;
	font-family: Helvetica;
	color:rgb(0,31,154);
}

h3 {
	text-align: right;
	font-family: Helvetica;
 	color:rgb(0,31,154);
}

section {
	margin: 10px 50px;
}

div {
	font-family: Helvetica; 
	font-size: 17px;
	padding-bottom: 5px;
	text-align:center;
	color: #000;
}

body {
	animation-name: backgroundchange; 
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background: #000;
}

.body {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.margin {
	margin-bottom:122px;
}

.margin2 {
	margin: 10px 20px;
}

.chorus {
	text-align: center;
}

.line_indent {
	word-spacing: 10px;
}

.pastel_blue {
	color: #000;
}

.text_indent {
	text-indent: 35px;
}

.text_indentx {
	text-indent: 70px;
}

#special {
	text-align:left;
}

@keyframes ab {
	from {
		color:#000}
	to {
		color:rgb(90,145,252)}
	}

.ab {
	animation-name: ab;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes abc {
	from {
		color:#000}
	to {
		color:rgb(85,140,252)}
	}

.abc {
	animation-name: abc;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}

@keyframes bcd {
	from {
		color:#000}
	to {
		color:rgb(75,130,252)}
	}

.bcd {
	animation-name: bcd;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 6s;
	animation
}

@keyframes cde {
	from {
		color:#000}
	to {
		color:rgb(65,120,252)}
	}

.cde {
	animation-name: cde;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 8s;
}

@keyframes def {
	from {
		color:#000}
	to {
		color:rgb(55,110,252)}
	}

.def {
	animation-name: def;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 10s;
}

@keyframes efg {
	from {
		color:#000}
	to {
		color:rgb(45,100,252)}
	}

.efg {
	animation-name: efg;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 12s;
}

@keyframes fgh {
	from {
		color:#000}
	to {
		color:rgb(35,90,252)}
	}

.fgh {
	animation-name: fgh;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 14s;
}

@keyframes ghi {
	from {
		color:#000}
	to {
		color:rgb(25,80,252)}
	}

.ghi {
	animation-name: ghi;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 16s;
}

@keyframes hij {
	from {
		color:#000}
	to {
		color:rgb(15,70,252)}
	}

.hij {
	animation-name: hij;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 18s;
}

@keyframes ijk {
	from {
		color:#000}
	to {
		color:rgb(0,50,250)}
	}

.ijk {
	animation-name: ijk;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 20s;
}

@keyframes jkl {
	from {
		color:#000}
	to {
		color:rgb(0,40,240)}
	}

.jkl {
	animation-name: jkl;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 22s;
}

@keyframes klm {
	from {
		color:#000}
	to {
		color:rgb(0,30,230)}
	}

.klm {
	animation-name: klm;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 24s;
}

@keyframes lmn {
	from {
		color:#000}
	to {
		color:rgb(0,20,220)}
	}

.lmn {
	animation-name: lmn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 26s;
}

@keyframes mno {
	from {
		color:#000}
	to {
		color:rgb(0,10,220)}
	}

.mno {
	animation-name: mno;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 28s;
}

@keyframes nop {
	from {
		color:#000}
	to {
		color:rgb(0,133,154)}
	}

.nop {
	animation-name: nop;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 30s;
}

@keyframes opq {
	from {
		color:#000}
	to {
		color:rgb(0,154,128)}
	}

.opq {
	animation-name: opq;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 32s;
}

@keyframes pqr {
	from {
		color:#000}
	to {
		color:rgb(0,154,46)}
	}

.pqr {
	animation-name: pqr;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 34s;
}

@keyframes qrs {
	from {
		color:#000}
	to {
		color:rgb(0,165,60)}
	}

.qrs {
	animation-name: qrs;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 36s;
}

@keyframes rst {
	from {
		color:#000}
	to {
		color:rgb(0,175,70)}
	}

.rst {
	animation-name: rst;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 38s;
}

@keyframes stu {
	from {
		color:#000}
	to {
		color:rgb(0,185,80)}
	}

.stu {
	animation-name: stu;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 40s;
}

@keyframes tuv {
	from {
		color:#000}
	to {
		color:rgb(0,195,90)}
	}

.tuv {
	animation-name: tuv;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 42s;
}

@keyframes uvw {
	from {
		color:#000}
	to {
		color:rgb(0,205,100)}
	}

.uvw {
	animation-name: uvw;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 44s;
}

@keyframes vwx {
	from {
		color:#000}
	to {
		color:rgb(0,215,110)}
	}

.vwx {
	animation-name: vwx;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 46s;
}

@keyframes wxy {
	from {
		color:#000}
	to {
		color:rgb(0,225,120)}
	}

.wxy {
	animation-name: wxy;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 48s;
}

@keyframes xyz {
	from {
		color:#000}
	to {
		color:rgb(116,255,9)}
	}

.xyz {
	animation-name: xyz;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 50s;
}

@keyframes bc {
	from {
		color:#000}
	to {
		color:rgb(149,255,9)}
	}

.bc {
	animation-name: bc;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 53s;
}

@keyframes cd {
	from {
		color:#000}
	to {
		color:rgb(174,255,9)}
	}

.cd {
	animation-name: cd;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 56s;
}

@keyframes de {
	from {
		color:#000}
	to {
		color:rgb(207,255,9)}
	}

.de {
	animation-name: de;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 59s;
}

@keyframes ef {
	from {
		color:#000}
	to {
		color:rgb(240,255,9)}
	}

.ef {
	animation-name: ef;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 62s;
}

@keyframes fg {
	from {
		color:#000}
	to {
		color:rgb(248,255,9)}
	}

.fg {
	animation-name: fg;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 65s;
}

@keyframes gh {
	from {
		color:#000}
	to {
		color:rgb(248,255,50)}
	}

.gh {
	animation-name: gh;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 68s;
}

@keyframes hi {
	from {
		color:#000}
	to {
		color:rgb(248,255,90)}
	}

.hi {
	animation-name: hi;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 71s;
}

@keyframes ij {
	from {
		color:#000}
	to {
		color:rgb(248,255,130)}
	}

.ij {
	animation-name: ij;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 74s;
}

@keyframes jk {
	from {
		color:#000}
	to {
		color:rgb(248,255,170)}
	}

.jk {
	animation-name: jk;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 77s;
}

@keyframes kl {
	from {
		color:#000}
	to {
		color:rgb(248,255,210)}
	}

.kl {
	animation-name: kl;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 80s;
}

@keyframes lm {
	from {
		color:#000}
	to {
		color:rgb(38,60,255)}
	}

.lm {
	animation-name: lm;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 83s;
}

@keyframes mn {
	from {
		color:#000}
	to {
		color:rgb(50,95,255)}
	}

.mn {
	animation-name: mn;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 86s;
}

