.circle, .circle2 {
	height:10px;
	width:10px;
	border-radius: 100%;
	background:rgba(255,255,255,0.2);
	align-items:center;
	align-content:center;
	box-shadow:1px 1px rgb(119,156,255);
}

.placeholder {
	height:40px;
	width:auto;
	background: rgba(0,0,0,0)
}

.choice {
	display:flex;
}


body {
	background: rgb(152,180,255);
}

section {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

p {
	margin top:0;
	margin-left: 2px;
	padding:0;
}

a, h1, h3, h2, h4{
	text-align: center;
	font-family: Verdana;
	color: rgb(22,55,145);
	margin:10px;
	text-shadow:1px 1px rgb(119,156,255);
}

h3 {
	padding:0;
	margin:0;
}

.command, .command2, .schedule {
	display:none;
	text-align:center;
	align-items: center;
}

.time {
	margin-left:0px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: rgb(37,77,189);
	width: 40px;
}

.form, .form1 {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(37,77,189);
	display: none;
	box-shadow: 1px 1px rgb(119,156,255);
	width:100px;
	border-radius:10px;
	background: rgba(165,189,255,0.7)
}

.schedule {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(37,77,189);
	border-radius:10px;
	background: rgba(165,189,255,0.7)
	width:400px;
}

.am9 {
	display:none;
}


