body {
	display:flex;
	flex-direction:column;
	font-family:Helvetica;
	font-size:24px;
	text-align: center;
	align-items:center;
	margin:0;
	padding:0;
	background-image: url(backgroundstars.jpg);
	color:white;
	justify-content: center;
	margin-top:20%;
}

a {
	align-content:center;
	color:white;
	font-size:36px;
}

a:hover {
	color:rgb(200,200,200);
}