a {
	width:auto;
	height:20px;
	border-radius:5px;
	box-shadow: 2px 2px rgb(255,189,55);
	background: rgb(255,206,105);
	color:rgb(198,66,3);
	font-family: 'Dosis', sans-serif;
	padding: 0px 3px;
	margin-right:3px;
}

body {
	background: rgba(255,224,98,0.9);
	min-width: 1400px;
}

h2{
	font-family: 'Dosis', sans-serif;
	letter-spacing: 1px;
	color:rgb(0,68,255);
}

h1, h3, h4, h5 {
	padding:0;
	margin:0;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 1px;
	color:rgb(198,66,3);
}

h3 {
	font-size: 15px;
}

h4 {
	display:none;
	font-size:12px;
}

h5 {
	font-size: 11px;
	font-weight:'regular';
	position: relative;
	z-index: 5;
}

p{
	padding:10px;
	margin:0px;
	width:500px;
	font-family: 'Dosis', sans-serif;
}

img {
	margin:0;
	padding:0;
}

.bar {
	color: white;
	padding:0;
	margin:0;
	display: flex;
	justify-content: flex-end;
}

.bluepurplebp {
	width:75px;
	height:75px;
	border-radius:3px;
	margin-bottom:3px;
	margin-right:3px;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-shrink:0;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
	to right, 
		rgb(0,60,255) 0%, 
		rgb(0,60,255) 50%, 
		rgb(121,0,213) 50%, 
		rgb(121,0,213) 100%
	);
	box-shadow: 3px 3px rgb(92,0,162);
}

.button {
	display: flex;
	justify-content: flex-end;
	border-radius: 5px;
	box-shadow: 3px 3px rgb(129,163,255);
    background: rgb(172,194,255);
    color:rgb(0,68,255);
	width:60px;
	height:30px;
	padding:3px;
	margin-left:935px;
    margin-top:-1210px;
}

.click {
	display:none;
}

.colorlessbluecb{
	width:75px;
	height:75px;
	border-radius:3px;
	margin-bottom:3px;
	margin-right:3px;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
	to right, 
		rgba(0,0,0,0) 0%, 
		rgba(0,0,0,0) 50%, 
		rgb(0,60,255) 50%, 
		rgb(0,60,255) 100%
	);
	box-shadow: 3px 3px rgb(0,51,215);
}

.dialog {
	width: 950px;
	margin-top:3px;
	color:rgb(0,68,255);
}

.dialogue {
	height:700;
	width:950;
	display:flex;
	flex-shrink: 0;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.element {
	width:75px;
	height:75px;
	border-radius:3px;
	margin-bottom:3px;
	margin-right:3px;
	box-shadow: 3px 3px rgb(255,189,55);
	background: rgb(255,206,105);
	display:flex;
	flex-shrink: 0;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.exception {
	background: rgb(255,186,46);
}

.flask, .click {
	margin-top:-660px;
	margin-left:200px;
	position:absolute;
}

.greenyellowgy{
	width:75px;
	height:75px;
	border-radius:3px;
	margin-bottom:3px;
	margin-right:3px;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
	to right, 
		rgb(30,223,0) 0%, 
		rgb(30,223,0) 50%, 
		rgb(255,247,0) 50%, 
		rgb(255,247,0) 100%
	);
	box-shadow: 3px 3px rgb(245,228,0);
}

.images {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center
}

.menu {
	display:flex;
	flex-shrink: 0;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.paragraph {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-shrink: 0;
	margin-top:-550px;
	margin-left:-140px;
	color:rgb(198,66,3);
}

.period1, .period2, .period3, .period4, .period5, .period6, .period7, .period6ish, .period7ish {
	display:flex;
	justify-content: center;
	flex-shrink: 0;
}

/*empty spaces start*/
.phantom {
	width:1248px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}

.phantom1 {
	width:780px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}

.phantom2 {
	width:78px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}

.phantom3 {
	width:234px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}

.phantom4 {
	width:702px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}

.phantom5 {
	width:1092px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}

.phantom6 {
	width:546px;
	height:75px;
	background:rgba(0,0,0,0);
	box-shadow:3px 0px rgba(0,0,0,0);
	flex-shrink: 0;
}
/*empty spaces end*/

/*Progress Bar Start*/
.phantom7 {
	width: 585px;
	height:20px;
	margin:5px 0px;
	border-radius:20px;
	box-shadow: inset 2px 2px rgb(255,189,55);
	padding: 0px 3px;
	display: flex;
	justify-content: flex-end;	
	}

.ab {
	background: linear-gradient(
	to right, 
		rgb(255,171,0) 0%, 
		rgb(255,171,0) 7%, 
		rgb(255,206,105) 7%, 
		rgb(255,206,105) 100%
	);
}

.bc {
	background: linear-gradient(
	to right, 
		rgb(255,171,0) 0%, 
		rgb(255,171,0) 20%, 
		rgb(255,206,105) 20%, 
		rgb(255,206,105) 100%
	);
}

.cd {
	background: linear-gradient(
	to right, 
		rgb(255,171,0) 0%, 
		rgb(255,171,0) 37.5%, 
		rgb(255,206,105) 37.5%, 
		rgb(255,206,105) 100%
	);
}

.de {
	background: linear-gradient(
	to right, 
		rgb(255,171,0) 0%, 
		rgb(255,171,0) 54.5%, 
		rgb(255,206,105) 54.5%, 
		rgb(255,206,105) 100%
	);
}

.ef{
	background: linear-gradient(
	to right, 
		rgb(255,171,0) 0%, 
		rgb(255,171,0) 63%, 
		rgb(255,206,105) 63%, 
		rgb(255,206,105) 100%
	);
}

.fg {
	background: linear-gradient(
	to right, 
		rgb(255,171,0) 0%, 
		rgb(255,171,0) 88.5%, 
		rgb(255,206,105) 88.5%, 
		rgb(255,206,105) 100%
	);
}

.gh {
	background: rgb(255,171,0);
}
/*Progress Bar End*/

.property {
	margin-top:100px;
}

.warning {
	display:none;
	margin-top:150px;
	font-size: 45px;
	width:1000px;
}


@keyframes liquid {
	0% {
		border-radius:3px;
	}
	50% {
		border-radius:100%;
	}
	100% {
		border-radius:3px;
	}
}

#liquid, #liquid1 {
	animation-name: liquid;
	animation-play-state: paused;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes dblock {
	from {
		margin-top:"";
		background:"";
		color:"";
		box-shadow: "";
	}
	to {
		margin-top:-78px;
		color:rgba(198,66,3,0.7);
		box-shadow: 3px 3px rgba(255,189,55,0.7);
		background: rgba(255,206,105,0.7);
	}
}

.dblock {
	animation-name: dblock;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
	position:relative;
	z-index: 5;
}

#dialog {
	border-radius: 5px;
	box-shadow: 3px 3px rgb(129,163,255);
    background: rgb(172,194,255);
    display:none;
    position:relative;
    z-index: 10;
    width:1000px;
    height:600px;
}

#dialog1 {
	border-radius: 5px;
	box-shadow: 3px 3px rgb(129,163,255);
    background: rgb(172,194,255);
    display:none;
    position:relative;
    z-index: 10;
    width:1000px;
    height:700px;
}

#ion {
	display:none;
}

#popup {
	display:flex;
	justify-content: flex-end;
	flex-direction: column;
	flex-shrink: 0;
	margin-left:350px;
	margin-top:-100px;
}

#popup1 {
	display:flex;
	justify-content: flex-end;
	flex-direction: column;
	flex-shrink:0;
	margin-left:350px;
	margin-top:50px;
}

@media only screen and (max-width:480px) {
	.warning {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


/*groups*/
/*g1=alkali metals
  g2=alkaline earth metals
  g3=transition metals
  g4=lanthanoids
  g5=actinoids
  g16=chalcogens
  g17=halogens
  g18=noble gases*/


