*{  
    padding: 0;
    margin: 0;
}

section{
/*    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;*/
    display: flex;
    height: 500px;
}

.special {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
}

.text, .feature-img{
    flex: 1;
}

.text{
    background: black;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.text2 {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.img1 {
    height:380px;
    width:530px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:10px auto;
}

.img2 {
    height:380px;
    width:530px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:10px auto;
}


.category {
    text-transform: uppercase;
    color:red;
    font-size: 10px;
}

.one, .two{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    flex: 1;
}

.details{
    font-size: 10px;
}


h1{
    text-transform: uppercase;
}

p{
    width: 480px;
}

.subtitle{
    font-style: italic;
    margin: 1rem;
}

.feature-img{
    background: url('img/cover.jpg') no-repeat center center;
    background-size: cover;
}


